* {
    box-sizing: border-box;
}

html,
body {
    color: #291f1a;
    margin: 0;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
}

.btn-blue {
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 30px;
}

a.btn-blue:hover {
    background-color: #fff;
    border: 1px solid #0ed8d6;
    color: #0ed8d6;
}

#main-nav {
    background-color: transparent;
    color: #fff;
}
#main-nav a:hover {
	color: #0ed8d6;
}
#main-nav a.navbar-brand {
    font-size: 2em;
    font-family: 'Droid Serif', sans-serif;
    text-transform: none;
    color: #fff;
}

#main-menu ul li a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
   padding: 20px;
}

#main-header {
    height: 100vh;
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

#main-header .header-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
}

#main-header .header-caption h1 {
    margin: 45px 0;
    text-transform: uppercase;
    padding: 20px;
}

#main-header .header-caption h2 {
    font-family: 'Droid Serif', sans-serif;
    font-size: 2.5em;
}

#services {
    padding: 20px;
    margin-top: 5px;
}

#services .container {
	padding: 10px;
}



#services .fa {
    color: #fff;
    background-color: #0ed8d6;
    border-radius: 70%;
    font-size: 40px;
    text-align: center;
    padding: 15px 15px;
}

#services .fa:hover {
    color: #0ed8d6;
    background-color: #fff;
    border: 1px solid #0ed8d6;
}

#portfolio {
    background-color:  #f7f7f7;
    padding: 30px;

}
#portfolio .portfolio-image-container {
    height: 300px;
    overflow: hidden;
 
}
#portfolio .single-portfolio-item .portfolio-image {
    position: relative;
    background-position: center;
	background-size: cover;
	height: 100%;
	display: block;
}
#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask {
	background-color: rgba(14, 216, 214, 0.85);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s;
	cursor: pointer;
}
#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask:hover {
    opacity: 1;
}
#portfolio-item-1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio-item-2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#portfolio-item-3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio-item-4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio-item-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio-item-6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

.portfolio-item-mask {
  background-color: rgba(14, 216, 214, 0.5);
  width: 100%;
  height: 200px;
  opacity: 0;
  font-size: 4em;
  font-weight: bold; }

.portfolio-item-mask:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  left: 0;
  right: 0; }

.portfolio-item-mask-content {
  position: absolute;
  left: 0;
  right: 0;
  padding: 18%;
  color: #fff; }

#portfolio .portfolio-image-mask {
	background-color: rgba(14, 216, 214, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s;
}

#portfolio .portfolio-image-mask:hover{
	opacity: 1;
}

#portfolio .portfolio-image-mask .fa{
	position: absolute;
	color: #fff;
	font-size: 3em;
	margin: auto;
    left: 0;
    right: 0;
	top: 50%;
	transform: translateY(-50%);
	
}

#team {
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
 padding-bottom: 100px;
}

.team-photo img {
  height: 150px;
  border-radius: 100%;
  margin-bottom: 10px;
  padding: 5px; }

.team-photo img:hover {
  height: 160px;
  margin-bottom: 0;
  padding: 0; }

.team-elem {
  margin-bottom: 2em; }

.social-icons a {
	height: 35px;
	width: 35px;
	display: inline-block;
	line-height: 35px;
	background-color: #222222;
	border: 1px solid #222222;
	border-radius: 50%;
	font-size: 1.5em;
	color: #fff;
	transition: all .3s;
	margin: 5px;
	text-align: center;
    padding-bottom: 20px;
}

#team .social-icons a:hover {
	background-color: #0ed8d6;
	border: 1px solid #0ed8d6;
}


#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/footer/world-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 100px;}

#contact-form {
  text-align: center;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto; }
  #contact-form input, #contact-form textarea {
    width: 100%;
    resize: none;
    line-height: 1.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none; }
  #contact-form input:hover, #contact-form textarea:hover {
    border: 1px solid #777; }
  #contact-form input:focus, #contact-form textarea:focus {
    color: #000000;
    background-color: lightgray;
    border: 1px solid #777; }


#footer {
  margin: 20px;
  text-align: center; }

#footer a {
  text-decoration: none;
  color: inherit; }

.footer-text {
  padding: 0.5em; }